<div id="home">

  <mat-card>
    <p>Welcome to Material Design with AngularJS Version 5. <p>
    <div class="banner">
      <div class="container">
        <h2 class="banner-title"><strong>Grid-List</strong> wrapped in Material Card:</h2>
      </div>
    </div>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <img src="../../assets/img/express.png" alt="Express" width="180px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/angularjs.png" alt="AngularJS" width="180px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/nodejs.png" alt="Node.js" width="180px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/coderdojo_trans.png" alt="CoderDojo Icon" width="180px">
      </mat-grid-tile>
    </mat-grid-list>
    <div class="banner">
      <div class="container">
        <h3 class="banner-title"> This component is linked to a local <strong>scss file</strong> under /src/app/home/ all new folders under /app new it's own scss</h3>
      </div>
    </div>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <img src="../../assets/img/webpack.jpg" alt="Webpack" width="180px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/karma-mocha.png" alt="karma-mocha" width="180px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/react.png" alt="react" width="180px">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</div>
